[CHROME]
TaskType=Install
DisplayName=Google Chrome
DefaultState=true
ScriptPath=false
[FIREFOX]
TaskType=Install
DisplayName=Firefox
DefaultState=false
ScriptPath=false
[ACROBAT]
TaskType=Install
DisplayName=Acrobat Reader
DefaultState=true
ScriptPath=false
[WINRAR]
TaskType=Install
DisplayName=Winrar
DefaultState=false
ScriptPath=false
[7ZIP]
TaskType=Install
DisplayName=7-Zip
DefaultState=false
ScriptPath=false
[MACRIUM]
TaskType=Install
DisplayName=Macrium
DefaultState=false
ScriptPath=false
[DISCORD]
TaskType=Install
DisplayName=Discord
DefaultState=false
ScriptPath=false
[STEAM]
TaskType=Install
DisplayName=Steam
DefaultState=false
ScriptPath=false
[ZOOM]
TaskType=Install
DisplayName=Zoom
DefaultState=false
ScriptPath=false
[VLC]
TaskType=Install
DisplayName=VLC Media Player
DefaultState=false
ScriptPath=false
[OFFICE]
TaskType=Install
DisplayName=Office and/or Libreoffice
DefaultState=false
ScriptPath=false

[UPWIN]
TaskType=Settings
DisplayName=Update Windows
DefaultState=true
ScriptPath=false
[UPMSS]
TaskType=Settings
DisplayName=Update Microsoft Store
DefaultState=true
ScriptPath=false
[CONFEXP]
TaskType=Settings
DisplayName=Configure File Explorer
DefaultState=true
ScriptPath=false
[NOPWEXP]
TaskType=Settings
DisplayName=Disable Password Expiration
DefaultState=true
ScriptPath=false

[CHECKSBOOT]
TaskType=Misc
DisplayName=Check Secure Boot
DefaultState=true
ScriptPath=false
[QUICKASS]
TaskType=Misc
DisplayName=Quick Assist To Desktop
DefaultState=true
ScriptPath=false
[CHECKWINACT]
TaskType=Misc
DisplayName=Check Windows Activation
DefaultState=true
ScriptPath=false